h1 {
    color: pink;
    display: flex;
    justify-content: center;
}

#gridContainer {
    display: flex;
    justify-content: center;

}

.gridRow {
    border: 1px solid grey;
    min-width: 20px;
    min-height: 20px; 
    margin-right: -1px;
    margin-left: -1px;
}

.cell {
    border: 1px solid grey;
    min-width: 20px;
    min-height: 20px;
    margin-top: -1px;
    margin-bottom: -1px;
}